<article class="container">
  <h1>{{title}}</h1>
  <h2>Welcome to {{title}}</h2>
  <div class="container-row">
    <div class="index-box container">
      <a href="/celebrities">Show Celebrities</a>
      <a href="/celebrities/new">Add Celebrity</a>
    </div>
    <div class="index-box container">
      <a href="/movies">Show Movies</a>
      <a href="/movies/new">Add Movies</a>
    </div>
  </div>
</article>