<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" type="image/png" src='../public/images/favicon.png' />
</head>

<body class="land-page">
  <section class="container">
    {{{body}}}
  </section>
</body>

</html>